* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    vertical-align: baseline;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    display: block;
    overflow: hidden;
}

.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.chat-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--background-color);
    color: var(--text-color);
}

.chat-column {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.trending-column {
    width: 100%;
    height: 100%;
    max-width: 250px;
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: margin 0.3s ease, opacity 0.3s ease;
    margin-right: 0;
    z-index: 1;
    position: relative; /* Ensure close button is positioned correctly */
}

.trending-topics {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.trending-column.hidden {
    margin-right: -100%;
    opacity: 0;
    pointer-events: none;
}

.trending-column h2 {
    flex: 1;
    font-size: 18px;
    color: var(--text-color);
}

.trending-column ul {
    list-style: none;
    padding: 0;
}

.trending-column ul li {
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--text-color);
}

.close-trending {
    font-size: 20px;
    cursor: pointer;
    width: 26px;
    height: 26px;
}

.input-container {
    margin: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.chat-message {
    margin-bottom: 10px;
    font-size: 16px;
}

.input-terminal {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
    min-width: 20px;
    font-size: 16px;
    color: var(--username-color);
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    font-family: var(--font-family);
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
}

input:focus {
    outline: none;
}

button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    cursor: pointer;
    font-family: var(--font-family);
    align-items: center;
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--text-color);
}

#sendButton>span {
    display: block;
}

#sendButton>i {
    display: none;
}

button:hover {
    background-color: var(--button-bg-color);
}

.theme-selector {
    padding: 0px 8px;
    margin-right: 8px;
    height: 35px;
    font-size: 14px;
    font-family: var(--font-family);
    border: 2px solid;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--text-color);
}

.theme-selector:focus {
    outline: none;
    box-shadow: 0 0 5px var(--text-color);
}

.toggle-trending {
    margin-left: auto;
    padding: 0px 8px;
    height: 35px;
    width: auto;
    margin-right: 5px;
    font-size: 14px;
    font-family: var(--font-family);
    border: 2px solid;
    border-radius: 4px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--text-color);
    cursor: pointer;
}

.toggle-trending:hover {
    background-color: var(--button-bg-color);
}

.trending-column-navbar {
    display: flex;
    align-items: center;
    height: 46px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    * {
        font-size: 12px;
    }

    .sendButton {
        padding: 10px;
        display: flex;
        border-radius: 2px;
        cursor: pointer;
        height: 30px;
        width: 30px;
    }

    #sendButton>span {
        display: none;
    }

    #sendButton>i {
        display: block;
    }

    .username,
    input,
    .chat-message {
        font-size: 13px;
    }

    .container {
        flex-direction: column;
    }

    .trending-column {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: unset;
        width: 100%;
        margin: 0;
        opacity: 1;
        pointer-events: auto;
        z-index: 1000;
        background-color: var(--background-color);
        overflow-y: auto;
    }

    .trending-column.hidden {
        margin-top: -100%; /* Adjust hiding direction for mobile */
        margin-right: 0; /* Reset horizontal margin */
        opacity: 0;
        pointer-events: none;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-bg-color);
}