* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    vertical-align: baseline;
  }
  
  /* Matrix-specific styles */
  body {
    background-color: black;
    font-family: "Courier New", Courier, monospace; /* Retain the Matrix font */
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Restaurado para o layout original */
  }
  
  .chat-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1; /* Restaurado para ocupar todo o espaço */
    padding: 10px;
    overflow-y: auto;
    background-color: black;
    color: #00ff00;
  }
  
  .input-container {
    margin: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
  }
  
  .chat-message {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .input-terminal {
    display: flex;
    align-items: center;
  }
  
  .input-terminal .username {
    color: #00ff00;
  }
  
  input {
    flex: 1;
    padding: 10px;
    background-color: black;
    color: #00ff00;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
  }
  
  input:focus {
    outline: none;
  }
  
  button {
    padding: 10px;
    display: flex;
    background-color: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    font-size: 16px;
  }
  
  #sendButton > span {
    display: block;
  }
  
  #sendButton > i {
    display: none;
  }
  
  button:hover {
    background-color: #003300;
  }
  
  .theme-selector {
    background-color: black;
    color: #00ff00;
    border: 2px solid #00ff00;
    border-radius: 4px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
  }
  
  .theme-selector:focus {
    outline: none;
    box-shadow: 0 0 5px #00ff00;
  }
  
  @media screen and (max-width: 768px) {
    * {
      font-size: 12px;
    }
  
    button {
      padding: 10px;
      display: flex;
      background-color: black;
      color: #00ff00;
      border: 2px solid #00ff00;
      border-radius: 2px;
      cursor: pointer;
      align-items: center;
      height: 30px;
      width: 30px;
    }
  
    #sendButton > span {
      display: none;
    }
  
    #sendButton > i {
      display: block;
    }
  
    .username, input, .chat-message {
      font-size: 13px;
    }
  
    .container {
      flex-direction: column; /* Mantido para responsivo */
    }
  
    .chat-container {
      flex: 1; /* Mantido para ocupar todo o espaço no modo responsivo */
    }
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00ff00;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #003300;
  }
  